@import url('https://fonts.googleapis.cokm/css2?family=Karla:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: whitesmoke;
}

/* Input */
.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 20px;
}

.color__input {
}
.input__options {
}
.input__button {
}

/* Output */
.output {
}

.output__color {
}
.color {
}
.hex {

}