@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: whitesmoke;
}

/* Input */
.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 20px;
}

.color__input {
    width: 60px;
    height: 40px;
    padding: 0 2px;
    border: 1px solid #D1D5DB;
}

.input__options,
.input__button {
    font-size: 1em;
    letter-spacing: .6px;
    padding: 0.3em 0.5em;
    border: 1.5px solid #D1D5DB;
    border-radius: 7.5px;
}

/* Output */
.output {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);flex-direction: column;
}

.color {
    height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 0.8em;
    text-shadow: 2px 2px #191919f0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, 
                width 0.3s ease-in-out, 
                height 0.3s ease-in-out;
}

.color:hover {
    opacity: 0.9;
    transform: scale(1.03);
}

.hex {
    color: #2b283a;
    text-align: center;
    margin: 0.7em 0 1.3em 0;
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.hex:hover {
    transform: scale(1.07);
}